In [1]:
import pandas as pd
df = pd.read_csv('/Users/rodolfomenocal/Library/CloudStorage/OneDrive-InstitutoTecnologicoydeEstudiosSuperioresdeMonterrey/Documentos/Digital Hub/Python Fundamentals/athlete_events.csv')
print(df.head())

   ID                      Name Sex   Age  Height  Weight            Team  \
0   1                 A Dijiang   M  24.0   180.0    80.0           China
1   2                  A Lamusi   M  23.0   170.0    60.0           China
2   3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN         Denmark
3   4      Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden
4   5  Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands

   NOC        Games  Year  Season       City          Sport  \
0  CHN  1992 Summer  1992  Summer  Barcelona     Basketball
1  CHN  2012 Summer  2012  Summer     London           Judo
2  DEN  1920 Summer  1920  Summer  Antwerpen       Football
3  DEN  1900 Summer  1900  Summer      Paris     Tug-Of-War
4  NED  1988 Winter  1988  Winter    Calgary  Speed Skating

                              Event Medal
0       Basketball Men's Basketball   NaN
1      Judo Men's Extra-Lightweight   NaN
2           Football Men's Football   NaN
3       Tug-Of-War Men's Tug-Of-War  Gold
4  Speed Skating Women's 500 metres   NaN

In [2]:
df_not_nan = df[df['Medal'].notnull()]
print(df_not_nan.head())

    ID                      Name Sex   Age  Height  Weight            Team  \
3    4      Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden
37  15      Arvo Ossian Aaltonen   M  30.0     NaN     NaN         Finland
38  15      Arvo Ossian Aaltonen   M  30.0     NaN     NaN         Finland
40  16  Juhamatti Tapio Aaltonen   M  28.0   184.0    85.0         Finland
41  17   Paavo Johannes Aaltonen   M  28.0   175.0    64.0         Finland

    NOC        Games  Year  Season       City       Sport  \
3   DEN  1900 Summer  1900  Summer      Paris  Tug-Of-War
37  FIN  1920 Summer  1920  Summer  Antwerpen    Swimming
38  FIN  1920 Summer  1920  Summer  Antwerpen    Swimming
40  FIN  2014 Winter  2014  Winter      Sochi  Ice Hockey
41  FIN  1948 Summer  1948  Summer     London  Gymnastics

                                     Event   Medal
3              Tug-Of-War Men's Tug-Of-War    Gold
37  Swimming Men's 200 metres Breaststroke  Bronze
38  Swimming Men's 400 metres Breaststroke  Bronze
40             Ice Hockey Men's Ice Hockey  Bronze
41  Gymnastics Men's Individual All-Around  Bronze

In [3]:
if not df_not_nan.empty:
    top_ages = df_not_nan.nlargest(1, 'Age')
    print(top_ages)
else:
    print("El DataFrame df_not_nan está vacío o no hay filas con medallas.")

          ID                                           Name Sex   Age  Height  \
44584  22984  John (Herbert Crawford-) Copley (Williamson-)   M  73.0     NaN

       Weight           Team  NOC        Games  Year  Season    City  \
44584     NaN  Great Britain  GBR  1948 Summer  1948  Summer  London

                  Sport                                          Event   Medal
44584  Art Competitions  Art Competitions Mixed Painting, Graphic Arts  Silver

In [4]:
df_oro = df[df['Medal'] == 'Gold']
if not df_oro.empty:
    index_2 = df_oro['Age'].idxmin()
    if not pd.isnull(index_2):
        row_2 = df_oro.loc[index_2]
        print(row_2)
    else:
        print("No hay información de edad en el DataFrame df_oro.")
else:
    print("El DataFrame df_oro está vacío o no hay filas con medallas de oro ('Gold').")
mas_medallas = df_not_nan['Name'].value_counts().idxmax()
print(mas_medallas)

ID                           14142
Name                 Hans Bourquin
Sex                              M
Age                           13.0
Height                         NaN
Weight                         NaN
Team                   Switzerland
NOC                            SUI
Games                  1928 Summer
Year                          1928
Season                      Summer
City                     Amsterdam
Sport                       Rowing
Event     Rowing Men's Coxed Pairs
Medal                         Gold
Name: 27207, dtype: object
Michael Fred Phelps, II

In [5]:
mas_medallas = df_not_nan["Name"].value_counts().idxmax()
print(mas_medallas)

Michael Fred Phelps, II

In [6]:
phelps = df[df['Name'] == mas_medallas]
phelps.to_csv('phelps.csv')